DATABASE_URL=postgresql+asyncpg://fastapi_user:changeme@localhost:5432/fastapi_learning
JWT_SECRET_KEY=82ae27d12e4d162d4bb219a61d37da2956b75e11135dcf0e7dbbbc0b33a0934b
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
GOOGLE_CLIENT_ID=
